<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>icommktconnector</name>
	<displayName><![CDATA[ICOMMKT Connector]]></displayName>
	<version><![CDATA[1.0.9]]></version>
	<description><![CDATA[Enabled API service to connect to ICOMMKT service]]></description>
	<author><![CDATA[icommkt]]></author>
	<tab><![CDATA[emailing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
